{% extends "auctions/layout.html" %}

{% block body %}
<h2>Open Listings</h2>

{% for listing in open_listings %}
<div class="listing-container">
    {% with image_url=listing.url|default:"/static/see-none.jpg" %}
    <img src="{{ image_url }}">
    {% endwith %}
    <div class="listing-text">
        <a href="{% url 'listing' listing.id %}">
            <h5>{{ listing.title }} @{{ listing.owner }}</h5>
        </a>
        <p><i>in {{ listing.category }}</i></p>
        <b>{{ listing.price }}€</b>
        <p>{{ listing.description }}</p>
    </div>
</div>
{% endfor %}


<h2>Closed Listings</h2>

{% for listing in closed_listings %}
<div class="listing-container" id="closed">
    {% with image_url=listing.url|default:"/static/see-none.jpg" %}
    <img src="{{ image_url }}">
    {% endwith %}
    <div class="listing-text">
        <a href="{% url 'listing' listing.id %}">
            <h5>{{ listing.title }} @{{ listing.owner }}</h5>
        </a>
        <p><i>in {{ listing.category }}</i></p>
        <b>{{ listing.price }}€</b>
        <p>{{ listing.description }}</p>
    </div>
</div>
{% endfor %}


<h2>Won Listings</h2>

{% for listing in won_listings %}
<div class="listing-container" id="won">
    {% with image_url=listing.url|default:"/static/see-none.jpg" %}
    <img src="{{ image_url }}">
    {% endwith %}
    <div class="listing-text">
        <a href="{% url 'listing' listing.id %}">
            <h5>{{ listing.title }} @{{ listing.owner }}</h5>
        </a>
        <p><i>in {{ listing.category }}</i></p>
        <b>{{ listing.price }}€</b>
        <p>{{ listing.description }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}