input {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#search-container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: ;
}

#search-container img {
    width: 300px;
    margin-bottom: 50px;
}

#search-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#searchbar-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}

#searchbuttons-container {
    display: flex;
    justify-content: center;
}

#searchbuttons-container input,
#links-container a {
    font-size: 14px;
    margin: 1em 1em;
    border-radius: .5em;
    background-color: rgb(231, 231, 231);

}

#searchbar-elements {
    display: flex;
    flex-direction: column;
}

#searchbar, #searchbutton, #lucky {
    border: 1px solid gray;
    height: 2em;
    background-color: white;
    padding: .25em 1em;
}

#searchbar {
    width: 25em;
    border-radius: 40px;
}

#searchbutton {
    min-width: 2em;
}

#links-container {
    display: flex;
    justify-content: right;
}

#links-container  a {
    padding: .5em .5em .5em;
}

#tf-container {
    display: flex;
    flex-direction: row;
}

#text-container p,
#form-container p {
    height: 2em;
}

#text-container {
    width: fit-content;
    background-color: green;
}

h3, #grid, h1 {
    margin-left: 20px;
}

h1 {
    color: rgb(220, 60, 60);
}

#grid {
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: .2em;
    grid-template-columns: 170px 80px;
    align-items: center;
}

#grid p {
    text-align: left;
}

#grid input {
    border-radius: 0px;
    height: 1.5em;
    font-size: 16px;
    width: 450px;
}

#grid input[id="search"] {
    background-color: rgb(26, 127, 251);
    color: white;
    border-radius: 6px;
    border: 0px;
    height: 3em;
    width: 160px;
    padding: 1em 2em;
    font-size: 12px;
}